/*Main Body*/
html, body, #root {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.light {
    --accent: #e225b7;
    --accentDark: #ab1a8a;
    --textOnAccent: white;
    --background: white;
    --textOnBg: black;
}

.dark {
    --accent: #7c1464;
    --accentDark: black;
    --textOnAccent: #e225b7;
    --background: black;
    --textOnBg: white;
}

.page {
    background: var(--background);
    color: var(--textOnBg);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-height: 100%;
}
