/*Main Body*/
body {
    --theme: #e225b7;
    --themeDark: #ab1a8a;
    --fg: black;
    --bg: white;
}

body.dark {
    --fg: white;
    --bg: black;
}

body {
    margin: 0px;
    background: var(--bg);
    color: var(--fg);
}
