/*Main Body*/
body {
    --theme: #e225b7;
    --themeDark: #ab1a8a;
    --fg: black;
    --bg: white;
}

body.dark {
    --fg: white;
    --bg: black;
}

body {
    margin: 0px;
    background: var(--bg);
    color: var(--fg);
    overflow: hidden;
}

/* page display */
.page {
    display: none;
}

.page.visible {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.page .section {
    z-index: 0;
}

/* page headers */
header {
    background: var(--theme);
    color: var(--bg);
    font-family: sans-serif;
    padding:3px;
    box-shadow: var(--themeDark) 0px 1px 4px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

header h1 {
    width: calc(100vw - 110px);
    height: 40px;
    margin: 20px;
}

header button {
    width: 100px;
    height: 80px;
    background: transparent;
    border: none;
    font-size: xx-large;
    color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header button span {
    font-size: small;
}

/* common */

.bigKana {
    position: fixed;
    top: 100px;
    left: 10px;
    line-height: 1.0;
    overflow: hidden;
}

.gamepage section div {
    width: 100vw;
    height: 10vh;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gamepage section div button,
.gamepage section div input {
    font-size: 8vh;
    background: var(--theme);
    color: var(--bg);
    border: none;
    width: 2em;
    height: 100%;
    text-align: center;
}

.gamepage section div .next {
    border-top-left-radius: 24px;
    box-shadow: inset var(--themeDark) 2px 2px 4px;
    order: 2;
}

/* game */
#game section {
    text-align: center;
}

#answer {
    color: var(--theme);
    border-top-right-radius: 24px;
    box-shadow: inset var(--themeDark) -2px 2px 4px;
    order: 0;
}

#answer:focus {
    color: var(--bg);
}

/* game 2 */

#game2 canvas {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#clear {
    border-top-right-radius: 24px;
    box-shadow: inset var(--themeDark) -2px 2px 4px;
    order: 0;
}

#prompt {
    width: 2em;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    box-shadow: inset var(--themeDark) 0px 2px 4px;
    order: 1;
}

#target {
    pointer-events: none;
    display: none;
}

#prompt:focus + #target{
    display: block;
    -webkit-text-stroke: 4px var(--theme);
    -webkit-text-fill-color: transparent;
}

/* settings */
#settings section {
    text-align: center;
    padding: 40px;
}
#settings section p {
    margin: 40px;
}
#settings label, #settings select {
    font-size: xx-large;
}
