.portrait .prompter {
    max-width: 50%;
    min-height: 100%;
}

.landscape .prompter {
    width: 100%;
}

.hiddenUntilFocus {
    color: var(--accent);
}

.hiddenUntilFocus:focus {
    color: var(--textOnAccent);
}
