#settings {
    z-index: 1;
    position: fixed;
    right: 0px;
    top: 0px;
    text-align: center;
    height: 100vh;
    padding: 40px;
    padding-top: 120px;
    background: var(--background);
    box-shadow: var(--accentDark) 0px 0px 4px;
}

#settings p {
    margin: 40px;
}

#settings label, #settings select {
    font-size: xx-large;
}
