.next {
    background: var(--accent);
    color: var(--textOnAccent);
    border: none;
    text-align: center;
}

.portrait .next {
    min-height: 100%;
    box-shadow: inset var(--accentDark) 2px 2px 4px;
}

.landscape .next {
    box-shadow: inset var(--accentDark) 2px 2px 4px;
}
